<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <form class="form-signin" action="/user/login" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" name="email"  placeholder="Email" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required="">
        <label>验证码</label>
        <div id="captcha" style="display:inline-block;">{{ login_form.captcha }}</div>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        {% csrf_token %}
    </form>

    <div>
        <span>{{ msg }}</span>
        <span>
        {% for key,error in login_form.errors.items %}
          {{ error }}
        {% endfor %}
        </span>
    </div>
</div>

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('.captcha').click(function(){
            $.getJSON('/captcha/refresh/', function(result){
                $('.captcha').attr('src', result['image_url']);
                $('#id_captcha_0').val(result['key'])
            })
        })
    })
</script>

</body>
</html>